$mainColor : #001cff;
$heightTitle : 200px;

@mixin inlineBlock( $align:top ) {
	display: inline-block;
	vertical-align: $align;
}

@mixin transform( $properties ) {
	-webkit-transform: $properties;
	-ms-transform: $properties;
	transform: $properties;
}